extends layout

block content
  h1 #{title}
  br

  form(action="/completetask", method="post")
    table.table.table-striped.table-bordered
      tr
        td CityCD
        td Type
        td Geometry.Type
        td Geometry.Coordinates
      if (typeof tasks === "undefined")
        tr
          td
      else
        each task in tasks
          tr
            td #{task.citycd}
            td #{task.type}
            td #{task.geometry.type}
            td #{task.geometry.coordinates}

  div#mapid(data-json=JSON.stringify(tasks)).
    <script>
      $(function () {
        /* Leaflet */
        
        // 衛星写真+地名レイヤを初期化
        var gsi_photo_name = L.layerGroup([
          L.tileLayer('//cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
            attribution: "<a href='http://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>",
            maxZoom: 1
          }),
          L.tileLayer('//cyberjapandata.gsi.go.jp/xyz/seamlessphoto/{z}/{x}/{y}.jpg', {
            attribution: "<a href='http://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>",
            minZoom: 2
          }),
            L.tileLayer('//www.finds.jp/ws/tmc/1.0.0/pntms-900913-L/{z}/{x}/{y}.png', {
            attribution: "国土数値情報・位置参照情報",
            minZoom: 7,
            maxZoom: 18
          })
        ]);

        var bounds = new L.LatLngBounds(
          new L.LatLng(47.55777778, 153.98055556),
          new L.LatLng(20.425, 122.93361111));

        // 地図初期化オプション
        var map_options = {
          minZoom: 0,
          maxZoom: 18,
          zoomControl: false,
          layers: [gsi_photo_name],
          maxBounds: bounds,
          maxBoundsViscosity: 0.75,
        };
        
        // 地図を初期化
        var mymap = L.map('mapid', map_options).setView([35.628471, 139.73876], 15);
        //- L.geoJSON(JSON.parse($(mapid).data.json(/&quot;/g,'"'))).addTo(mymap);
        L.geoJSON($(mapid).data('json')).addTo(mymap);

      });
    </script>